@CHARSET "ISO-8859-1";
header{
	background-color: #D55307;
	overflow: auto;
	position: fixed;
	top:-400px;
	z-index: 99990;
	width:1140px;
	/*border-radius:5px 5px 0px 0px;
	margin-top: 10px;*/
}
/* small screen ----------- */
@media only screen 
and (min-width : 1000px) {
	header{
		width:938px;
	}
}
@media only screen 
and (min-width : 1200px) {
	header{
		width:1140px;
	}
}
header img{
	height: 150px;
	border-radius: 5px;
}
header span.glyphicon{
	font-size: 96px;
}
header ul li{
	list-style: none;
	background-color: #2ECC40;
	border-radius:4px;
	box-shadow: 2px 4px 10px #333;
	padding:10px;
	width:270px;
	margin: 10px 0px 0px 10px;
	position:relative;
	z-index:99999;
	display: inline-block;
	cursor: pointer;
	overflow: auto;
}
header ul li a .icon-text{
	float: right;
}
header ul li a{
	color: white;
}
header ul{
	margin: 0px;
	padding: 0px;
	clear: both;
	margin-bottom: 10px;
	height:400px;
}
header.hide1{
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
	top:-400 px;
}
header.show{
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
	top:0px;
}
.navbar{
	border-radius:0px 0px 5px 5px;
	margin-top: 160px;
}
body{
	background-color: #eee;
}
div.body-content{
}
