@CHARSET "ISO-8859-1";
header{
	background-color: #D55307;
	overflow: auto;
	position: fixed;
	top:-400px;
	z-index: 99990;
	width:1140px;
	/*border-radius:5px 5px 0px 0px;
	margin-top: 10px;*/
}
/* small screen ----------- */
@media only screen 
and (min-width : 1000px) {
	header{
		width:938px;
	}
}
@media only screen 
and (min-width : 1200px) {
	header{
		width:1140px;
	}
}
header img{
	height: 150px;
	border-radius: 5px;
}
header span.glyphicon{
	font-size: 96px;
}
header ul li{
	list-style: none;
	background-color: #2ECC40;
	border-radius:4px;
	box-shadow: 2px 4px 10px #333;
	padding:10px;
	width:270px;
	margin: 10px 0px 0px 10px;
	position:relative;
	z-index:99999;
	display: inline-block;
	cursor: pointer;
	overflow: auto;
}
header ul li a .icon-text{
	float: right;
}
header ul li a{
	color: white;
}
header ul{
	margin: 0px;
	padding: 0px;
	clear: both;
	margin-bottom: 10px;
	height:400px;
}
header.hide1{
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
	top:-400 px;
}
header.show{
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
	top:0px;
}
.navbar{
	border-radius:0px 0px 5px 5px;
	margin-top: 160px;
}
body{
	background-color: #eee;
}
div.body-content{
}

.hide{
	display:none;
}

#background{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color: black;
	opacity: 0.2;
	z-index:100001;
}

#loading{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	text-align: center;
	z-index:100002;
}

#loading img{
	margin-top: 200px;
	border:1px solid #888;
	border-radius:5px;
	z-index:100002;
	position:relative;
	box-shadow: 2px 5px 5px #888
}

.upload-element{
	min-height: 100px;
	min-width: 300px;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}
.upload-element img{
	height:100px;
	position: relative;
	z-index:1000;
}
.upload-element input{
	position:absolute;
	top: 0px;
	left: 0px;
	z-index:9999;
	width:100%;
	height:100%;
	opacity:0;
	cursor: pointer;
}

form.upload-form{
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 10px;
	padding:20px;
}